<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="/css/common.css" rel="stylesheet">
  {{ with .Styles }}{{ range . }}<link href="/css/{{.}}" rel="stylesheet">{{ end }}{{ end }}
  <script src='https://kit.fontawesome.com/{{.Config "FA_KEY"}}.js' crossorigin="anonymous"></script>
  <title>{{.Title}}</title>
</head>
<body>
<div id="site-wrapper">
<header>
    <div id="home" class="header-item"><h1><a href="/">Nick Lemoing</a><h1></div>
    <div class='header-item'><h2><a href="/blog">Blog</a></h2></div>
    <div class='header-item'><h2><a href="/resume">Resume</a></h2></div>
    {{ with .Details }}
    <div class='header-item header-right'></div>
    {{ with .Email }}
    <div class='header-item'>
      <a href='mailto:{{.}}'><i class="fas fa-envelope"></i></a>
    </div>
    {{ end }}
    {{ with .Phone }}
    <div class='header-item'>
      <a href='tel:{{.}}'><i class="fas fa-phone"></i></a>
    </div>
    {{ end }}
    {{ with .GitHub }}
    <div class='header-item'>
      <a href='https://github.com/{{.}}'><i class="fab fa-github"></i></a>
    </div>
    {{ end }}
    {{ with .LinkedIn }}
    <div class='header-item'>
      <a href='https://linkedin.com/in/{{.}}'><i class="fab fa-linkedin"></i></a>
    </div>
    {{ end }}
    {{ end }}
</header>
<div id="content-wrapper">
{{ template "content" .}}
</div>
</div>
</body>
{{ with .Scripts}}{{ range . }}<script src="/scripts/{{.}}"></script>{{ end }}{{ end }}
</html>