<div class="section">
    <div class="section-title"><h1>{{.Title}}</h1></div>
    {{ with .Items -}}
    <div class="section-items">
    {{ range . -}}
    <div class="item">
        <div class="item-header">
        <div class="item-titles">
            <h2>{{.Title}}</h2>
            {{with .Subtitle}}<h3>{{.}}</h3>{{ end }}
        </div>
        <div class="item-metadata">
            {{with .Date}}<p><i class="fas fa-calendar-alt"></i> {{.}}</p>{{end}}
            {{with .Location}}<p><i class="fas fa-map-marker-alt"></i> {{.}}</p>{{end}}
        </div>
        </div>
        {{ with .Description }}{{ template "description.html" .}}{{ end }}
    </div>
    {{ end }}
    </div>
    {{ end }}
    {{ with .Description }}{{ template "description.html" .}}{{ end }}
</div>