<div class="section">
    <div class="section-title t{{.Position}}"><h1>{{.Title}}</h1></div>
    {{ with .Items -}}
    <div class="section-items">
    {{ range . -}}
    <div class="item">
        <div class="item-header">
        <div class="item-titles">
            <h3>{{with .Link}}<a href='{{.}}'>{{end}}{{.Title}}{{if .Link}}</a>{{end}}</h3>
            {{with .Subtitle}}<h4>{{.}}</h4>{{ end }}
        </div>
        <div class="item-metadata">
            {{with .Date}}<p><i class="fas fa-calendar-alt"></i> {{.}}</p>{{end}}
            {{with .Location}}<p><i class="fas fa-map-marker-alt"></i> {{.}}</p>{{end}}
        </div>
        </div>
        {{ with .Description }}{{ template "description.html" .}}{{ end }}
    </div>
    {{ end }}
    </div>
    {{ end }}
    {{ with .Description }}{{ template "description.html" .}}{{ end }}
</div>