{{ block "content" . }}
<div id="main-image">
    <div id="main-image-caption">
        <div id="main-image-text">
            <h2>Welcome!</h2>
            <p>
            My name is Nick.
            I love reading (and writing) about all things sports, math, and technology.
            Right now, I'm studying computer science at Waterloo.
            I'm also a competitive ultimate frisbee player.
            </p>
        </div>
    </div>
</div>
<div id="main-information-wrapper">
    <div id="main-information">
        <h2>More about me</h2>
        <div id="information-grid">
        <img src="/images/msg_penalty_box.jpg" />
        <p>
            I'm going into my fourth year at the University of Waterloo for Computer Science (graduating in 2021).
            I've worked in a fairly diverse set of roles: I've been a full-stack web dev, a data scientist and a data engineer.
            (Oh, and I also worked as an <a href="https://en.wikipedia.org/wiki/Actuarial_science">actuarial student</a>
            before switching to CS). I like writing code all over the stack and learning about new tech.
        </p>
        <img src="/images/ultimate_catch.jpg" />
        <p>
            A big part of my life outside of work revolves around sports. For the past two years, I've mainly been playing ultimate,
            both on Waterloo's club team as well as on a Kitchener-based touring team. I was also able to play with NYU's team while
            interning in NYC. Here's the only filmed game I've ever played in: the <a href="https://www.youtube.com/watch?v=QFa_-HfAkCQ">CUUC 2019 game to go to Division 1</a>.
            Besides ultimate, I continue to play hockey, and during high school I also played soccer, baseball and swam for the school's team.
        </p>
        <img src="/images/family_dumbo.jpg" />
        <p>
            Before coming to university, I lived in Doha, Qatar for six years. Doha is very centrally located and I was able to travel a lot while I was there:
            between sports tournaments, service trips and family vacations, I've visited 25 countries.
            I've also lived in New York for a total of eight months while on internships.
        </p>
        <img src="/images/waterloo_ultimate_2019.jpg" />
        <p>
            In my free time, I like to write articles. I've published some on <a href="https://medium.com/@nicklemoing">Medium</a>
            but I'm planning on transitioning everything to my <a href="/blog">blog</a> from now on so I can customize them a bit more.
            The only common theme shared by the articles is "Things Nick Finds Interesting and Will Sink Too Much Time Into".
            Hopefully you find them interesting too.
        </p>
        </div>
    </div>
</div>
{{ end }}