#blog-container {
    width: calc(100% - 40px);
    max-width: 500px;
    padding: 20px;
    margin: auto;
}

.article-title-container a {
    color: inherit;
    text-decoration: none;
}

.article-title-container a:hover {
    text-decoration: underline;
}

.article-title {
    margin: 0 0 10px 0;
}

.article-subtitle {
    color: #555555;
    font-size: 16pt;
    margin: 5px 0;
}

.article-date {
    font-size: 12pt;
    margin: 5px 0 0 0;
}

#article-body > p {
    text-indent: 20px;
}