html, body {
	width: 100%;
	height: 100%;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14pt;
	color: #333;
	margin: 0 0 0 0;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.site-wrapper {
	flex: 1;
}

footer {
	text-align: center;
	padding: 20px;
	background-color: #333;
	color: white;
	width: calc(100% - 40px);
}

.top-navbar {
	padding: 12px 0;
}

.contact-links {
	padding: 10px;
}

.header-item,
.footer-item {
	display: inline;
}
.header-item,
.footer-item {
	padding: 12px;
}
.header-item a,
.footer-item a {
	text-decoration: none;
}

.header-item a {
	color: #333;
}

.footer-item a {
	color: white;
}

.header-item a:hover,
.footer-item a:hover {
	text-decoration: underline;
}

#nav-link-home a {
	color: rgb(0, 81, 212);
}