#main-image {
    position: relative;
    background-image: url("/images/mountains.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

#main-image-caption {
    position: absolute;
    left: 50%;
    top: 0;
    width: 50%;
    height: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-image-text {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 12px 12px 12px 12px;
    max-width: 80%;
}
#main-image-text h2 {
    margin: 0 0 0 0;
}

#main-information-wrapper {
    width: 100%;
}

#main-information {
    width: 800px;
    margin: 20px auto;
}

#information-grid {
    display: grid;
    grid-template-columns: 25% auto;
    column-gap: 5px;
    align-items: center;
}

#information-grid img {
    width: 100%;
}

@media only screen and (max-device-width: 600px) {
    #main-image {
        background-attachment: scroll;
    }
    #main-image-caption {
        left: 0;
        top: 60%;
        width: 100%;
        height: 40%;
    }
}