/*
Big screens:
    resume-sidebar top left, width 250px
    resume-container top, offset from left by width of sidebar
Small screens:
    resume-sidebar and resume container positioned normally
All screens:
    image width 100%, shouldn't grow wider than ~250-300px
    All items centered: image, h3, and links
    Links in div, text aligned on left side

@media only screen and (min-device-width: 750px) {
    #resume-sidebar {
        position: absolute;
        top: 0;
        left: 0;
        width: 270px;
    }

    #resume-container {
        position: absolute;
        top: 0;
        left: 300px;
        width: calc(100% - 300px);
    }
}
*/

#resume-container ul {
    padding-left: 0px;
    margin-left: 0px;
}

#resume-sidebar {
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#resume-sidebar p {
    max-width: 500px;
    text-align: center;
}

#resume-contact h3 {
    margin: 10px;
    text-align: center;
}

#resume-contact a {
    color: inherit;
    text-decoration: none;
}

#resume-contact a:hover {
    text-decoration: underline;
}

#resume-headshot {
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
}

.section {
    width: 100%;
}

.section-title {
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
    background-size: cover;
    background-blend-mode: overlay;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-title h1 {
    padding: 0 0 0 0;
}

.section-title.t0 {
    background-image: url("/images/brooklyn_bridge.jpg");
    background-position-y: center;
}

.section-title.t1 {
    background-image: url("/images/east_river_skyline.jpg");
    background-position-y: center;
}

.section-title.t2 {
    background-image: url("/images/domino_park.jpg");
    background-position-y: 35%;
}

.section-title.t3 {
    background-image: url("/images/m3.jpg");
}

.section-title.t4 {
    background-image: url("/images/williamsburg_factory.jpg");
}

.section-title.t5 {
    background-image: url("/images/ultimate_catch.jpg");
}

.section-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item {
    padding: 6px;
    margin: 12px 20px; 
    width: 100%;
    max-width: 330px;
    background-color: white;
    border-radius: 20px;
}

.item h2, .item h3, .item p {
    margin: 0;
}

.item-header {
    display: flex;
    justify-content: space-between;
}

.item-titles {
    max-width: 60%;
}

.item-metadata {
    color: rgb(78, 78, 78);
    font-size: 11pt;
}

.side-sections {
    display: grid;
    row-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.side-section h2 {
    margin: 0;
}

.side-section-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.side-section-item {
    width: 45%;
    min-width: 180px;
    padding: 5px;
}