#pdf-download {
    margin: 12px;
}

#resume-container {
    position: relative;
}

.main-sections .section {
    float: left;
}

.section {
    width: 100%;
}

.section-title {
    background-color: black;
    color: white;
    text-align: center;
}
.section-title h1 {
    padding: 0 0 0 0;
}

.section-items {
    display: flex;
    flex-wrap: wrap;
}

.item {
    padding: 12px 12px 12px 12px;
    width: 376px;
    max-width: 100%;
}

@media only screen and (min-device-width: 1000px) {
    .side-sections {
        position: absolute;
        top: 0;
        right: 0;
        width: 300px;
    }
    .main-sections {
        width: calc(100% - 300px);
    }
}